.App {
    text-align: center;
}

.trips {
    background-image: url("./images/border\ test.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 70%;
    padding: 1.2%;
    width: 20%;
    margin: 0 auto;
    margin-top: 10%;
    border: 1px solid black;
    box-shadow: 0px 0px 39px 17px rgb(170, 170, 170);
    border-radius: 16px;
}